﻿<br />
Выберите контейнер ЭЦП
<select class="cert-list" style="width: 450px;"></select>
<br />
<br />
Введите пароль к контейнеру
<br />
<input class="k-textbox" id="pwd" type="password" style="width: 450px;" />
<br />
<br />
<div class="js-login-error-message" style="color:#a00;">
</div>
<div class="dividing-line"></div>
<button class="k-button login">Войти</button>

